/* tslint:disable */
@import '../variables';
@import '../mixins';

.#{$prefix}-ui-fullwindowtogglebutton {
  @extend %ui-button;
  background-image: svg('assets/skin-modern/images/fullwindow.svg');

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    background-image: svg('assets/skin-modern/images/fullwindowX.svg');
  }
}


.bmpui-fullwindow {
  overflow: hidden;

  .bitmovinplayer-container {
    height: 100vh;
    left: 0;
    position: fixed !important;
    top: 0;
    width: 100vw;
    z-index: 999;
  }

  .bmpui-ui-fullscreentogglebutton {
    display: none;
  }
}